name: Build and Test

on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - 'main'
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron: '10 10 * * 5'  # every Friday at 10:10

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc

      - name: Install dependencies
        run: npm ci
      - name: Get Playwright Version
        id: playwright-version
        run: echo "version=$(npm list @playwright/test --depth=0 --json | jq -r '.dependencies."@playwright/test".version')" >> $GITHUB_OUTPUT
      - name: Cache Playwright Browsers
        id: playwright-cache
        uses: actions/cache@v5
        with:
          path: ~/.cache/ms-playwright
          key: ${{ runner.os }}-playwright-${{ steps.playwright-version.outputs.version }}
      - name: Install Playwright browsers
        if: steps.playwright-cache.outputs.cache-hit != 'true'
        run: npx playwright install --with-deps chromium firefox

      - name: Lint project
        run: npm run lint  
      - name: Build project
        run: npm run build
      - name: Run Tests (Unit and Playwright)
        run: npm test

      - name: Upload Playwright report
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 1    
      - name: Upload Tests Results
        uses: actions/upload-artifact@v6
        if: ${{ !cancelled() }}
        with:
          name: test-results
          path: test-results/
          retention-days: 1
      - name: Upload Tests Snapshots
        uses: actions/upload-artifact@v6
        if: ${{ !cancelled() }}
        with:
          name: tests-snapshots
          path: tests/screenshot.spec.ts-snapshots
          retention-days: 1
      - name: Test Report
        uses: dorny/test-reporter@v2
        if: ${{ !cancelled() }}
        with:
          name: Playwright Tests
          path: test-results/junit.xml
          reporter: jest-junit

          # GitHub Pages
      - name: Configure GitHub Pages
        uses: actions/configure-pages@v5
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: dist
          retention-days: 1 
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4 

